* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.div-menu-lateral {
  display: flex;
}

aside {
  background: #25272e;
  padding: 2rem 2rem;
  height: 160vh;
}

header {
  font-size: 26px;
  color: #626262;
  padding: 1rem 2rem;
  border-bottom: 2px solid #000;
}

.flex-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 5rem;
}

.card-comentario {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.div-info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.div-info h2 {
  font-size: 1rem;
}

.card-comentario img {
  width: 40px;
  border-radius: 10px;
  height: 40px;
}

.card-comentario {
  margin: 2rem 0;
}

.conteudo-post {
  margin-left: 3rem;
  flex-grow: 1;
  display: flex;
}

.infos-post-usuario img {
  width: 25px;
  height: 25px;
  margin-left: 2rem;
}

.perfil {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

article {
  background-color: #ececec;
  padding: 2rem 3rem;
}

.container-comentario {
  flex-wrap: wrap;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

input {
  padding: 1rem 1.5rem;
  max-width: 500px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0 1.5rem 0 3rem;
}

input:focus {
  border: none;
  outline: none;
}

.liked {
  background: #fffae7;
}

.foto-perfil img {
  border-radius: 20px;
}

.campo-mensagem {
  flex: 1;
  align-items: center;
  display: flex;
}

@media (max-width: 700px) {
  .foto-perfil img {
    display: none;
  }
  input {
    padding: 0.7rem 2rem;
  }
  header {
    font-size: 1rem;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  margin: 30% auto;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
